/****** PLACE YOUR CUSTOM STYLES HERE ******/

.logo {max-height: 30%;}

.mb0{ margin-bottom: 0 !important;}

.image-xxs {max-width: 200px;}

.extra-bold {font-weight: 800 !important;}

.blue-link {
  color: #0645AD;
}
.blue-link:hover {
  text-decoration: underline;
}


.pl10{
  padding-left: 10px;
}

a:hover {
  color: #3366BB;
}

@media (min-width: 1200px) {
  .main-title { font-size: 64px !important;}
}

.btn-black { color: #333 !important; border-color: #333; background: none;}
.btn-black:hover { color: #fff !important; background: #333; }

.btn-secondary{
  font-size:11px;
  text-transform:uppercase;
  font-weight:600;
  letter-spacing:1px;
  color:#292929;
  opacity:0.5;
  transition:all 0.3s ease;
  -webkit-transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  max-width:100%;
  white-space:normal;
}
.btn-secondary:focus{
  opacity:1 !important;
}
.enterprise-price{ background-color: #777777 !important; }
.contact-price{ font-size: 24px; line-height: 36px; font-weight: 300; color: @bg-dark; display: inline-block;}
.contact-price:hover{text-decoration: underline;}

.nav-bottom-border { border-bottom: 1px solid #b7b7b7 !important;}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
@media (min-width: 992px) {
  .buy-container {
    height:100%;
    background-image: url("https://goldwatersystems.com/img/scout-in-situ-3.jpg");
    background-size: cover;
    background-position: cover;
  }

  .right-content-container {
    padding: 48px 50px;
    background: #fff;
    position: absolute;
    width: 435px !important;
    right: 0;
    overflow-y: scroll;
  }
}

@media (max-width: 992px) {
  .right-content-container {
    margin-top: 40px;
  }
}

.full-height {
  height: calc(100vh - 55px) !important;
}

.radio-option.checked .inner{
  color: #666666 !important;
  background: #666666 !important;
}
.radio-option {
  border: 1px solid #666666;
}

.purchase-button { color: #333 !important; border-color: #333 !important; background: none !important;}
.purchase-button:hover { color: #fff !important; background: #333 !important; }

footer {padding: 24px 0 !important}

#loadOverlay{display: none;}

.home-hero {
  background-image: url("https://goldwatersystems.com/img/thermal.jpg");
  background-size: cover;
  background-position: cover;
   position:relative;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
}
.home-hero iframe {
   width: 100vw;
   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
   min-height: 100vh;
   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .home-hero {
    height: 100vh;
  }
}
