/****** PLACE YOUR CUSTOM STYLES HERE ******/

.logo {max-height: 30%;}

.image-xxs {max-width: 200px;}

.extra-bold {font-weight: 800 !important;}

.blue-link {
  color: #0645AD;
}
.blue-link:hover {
  text-decoration: underline;
}


.pl10{
  padding-left: 10px;
}

a:hover {
  color: #3366BB;
}

@media (min-width: 1200px) {
  .main-title { font-size: 64px !important;}
}

.btn-black { color: #333 !important; border-color: #333; }
.btn-black:hover { color: #fff !important; background: #333; }

.btn-secondary{
  font-size:11px;
  text-transform:uppercase;
  font-weight:600;
  letter-spacing:1px;
  color:#292929;
  opacity:0.5;
  transition:all 0.3s ease;
  -webkit-transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  max-width:100%;
  white-space:normal;
}
.btn-secondary:focus{
  opacity:1 !important;
}

.contact-price{ font-size: 25px; line-height: 35px; font-weight: 300; color: @bg-dark; display: inline-block; margin-bottom: 32px;}
.contact-price:hover{text-decoration: underline;}


footer {padding: 24px 0 !important}

#loadOverlay{display: none;}
